<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/frontBack.css">
    <title>Frontend y backend</title>
</head>
<body>
    <header>
        <nav class="header">
            <a href="../index.htm">
                <img src="../img/hogar.png" class="logo">
            </a>
            <ul class="enlaces-menu">
                <li><a href="./frontBack.html">Frontend y Backend</a></li>
                <li><a href="./formulario.html">Formulario de inscripción</a></li>
            </ul>
            <button class="ham" type="button">
                <span class="br-1"></span>
                <span class="br-2"></span>
                <span class="br-3"></span>
            </button>
        </nav>
    </header>
    <main class="table">
    <table>
        <caption>Clasificacion lenguajes backend y fronted</caption>
        <thead>
            <tr>
                <th>Fronted</th>
                <th>Backend</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Html</td>
                <td>JavaScript</td>

            </tr>
            <tr>
                <td>Css</td>
                <td>Python</td>
                
            </tr>
            <tr>
                <td>JavaScript</td>
                <td>Ruby</td>

            </tr>
            <tr>
                <td>React</td>
                <td>PHP</td>
                
            </tr>
            <tr>
                <td>Vue</td>
                <td>Java</td>

            </tr>
            <tr>
                <td>TypeScript</td>
                <td>C#</td>
                
            </tr>
            <tr>
                <td>Elm</td>
                <td>Perl</td>
                
            </tr>
            <tr>
                <td>Angular</td>
                <td>C++</td>
                
            </tr>
            <tr>
                <td>Jquery</td>
                <td>Kotlin</td>

            </tr>
            <tr>
                <td>Swift</td>
                <td>Scala </td>
                
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table> 
        </main>
    <script src="../scripts/frontBack.js"></script>
</body>
</html>